<html>
   <body>
      <form action = "http://localhost:5000/uploader" method = "POST"
         enctype = "multipart/form-data">
         <ul><center>
         <input type = "file" name = "file" /></center>
         <br>
         <input type="submit" name="submit_button" value="Gray">
         <br>
         <input type="submit" name="submit_button" value="Black & White">
         <br>
         <input type="submit" name="submit_button" value="Linear Transformation">
         <br>
         <input type="submit" name="submit_button" value="Log Transformation">
         <br>
         <input type="submit" name="submit_button" value="Negative Transformation">
         <br>
         <input type="submit" name="submit_button" value="Gamma Transformation">
         <br>
         <input type="submit" name="submit_button" value="Blur">
         <br>
         <input type="submit" name="submit_button" value="Sharpen Kernel">
         <br>
         <input type="submit" name="submit_button" value="Histogram Equalisation">
         <br>
         <input type="submit" name="submit_button" value="Median Filtering">
         <br>
         <input type="submit" name="submit_button" value="Mean Filtering">
         <br>
</ul>
      </form>
   </body>
</html>
